mixin breadcrumb(params)
  - params = params || {}
  - params.cls = params.cls || 'breadcrumb'
  - params.activeCls = params.activeCls || (breadcrumb && breadcrumb.activeCls) || ''

  if params.items && params.items.length
    ol(class=params.cls)&attributes(params.attributes, attributes)
      for item, i in params.items
        li(class=[item.cls, i == params.items.length - 1 && params.activeCls || null])
          if typeof params.item === 'string'
            != params.item.replace('${name}', item.name).replace('${url}', item.url || '').replace('${active}', item.active && params.activeCls || '')
          else if typeof params.item === 'function'
            != params.item(item, i)
          else if item.url
            a(href=item.url)= item.name
          else
            = item.name
