include button

mixin dropdown(params)
  - params = params || {}
  - params.prefix = params.prefix || (dropdown && dropdown.prefix) || 'dropdown'
  - var empty = !params.items || !params.items.length

  mixin render_wrapper()
    if params.wrap
      div(class=[{dropup: params.up, [params.prefix]: params.static}, params.cls])&attributes(params.attributes, attributes)
        block
    else
      block

  mixin render_item(item)
    if item.icon
      +icon(item.icon)
    != item.html
    = item.name

  +render_wrapper
    +button({
      style: params.style,
      size: params.size,
      block: params.block,
      cls: [`${params.prefix}-toggle`],
      icon: params.icon,
      disabled: empty,
    })(
      data-toggle=params.prefix
      aria-haspopup="true"
      aria-expanded=params.static && 'true'
    )&attributes(params.button)
      != params.html
      block
      = params.text
      span.caret
    if !empty
      ul(class=[`${params.prefix}-menu`, {[`${params.prefix}-menu-${params.align}`]: params.align}])&attributes(params.ul)
        each item, i in params.items
          if item.divider
            li(
              class=`${params.prefix}-divider`
              role="separator"
            )
          if item.header
            li(class=`${params.prefix}-header`)= item.header
          li(
            class={disabled: item.disabled, selected: item.value == params.value}
            data-value=item.value
          )
            if typeof params.item === 'function'
              - delete item.divider
              - delete item.header
              != params.item(item, i)
            else if item.url
              a(
                href=item.url
                target=item.target
              )
                +render_item(item)
            else
              +render_item(item)
