include button
include form_group

mixin form(params)
  - params = params || {}
  - params.prefix = params.prefix || (form && form.prefix) || 'form'
  - params.method = params.method || 'get'
  - params.groups = params.groups || []
  - params.buttons = params.buttons || []

  mixin render_fieldset()
    if params.fieldset !== false && params.fieldset !== 0
      fieldset(disabled=params.disabled)&attributes(params.fieldset)
        block
    else
      block

  form(
    class=[{[`${params.prefix}-${params.type}`]: params.type}, params.cls]
    name=params.name
    action=params.action
    method=params.method
    enctype=params.file && 'multipart/form-data'
  )&attributes(params.attributes, attributes)
    +render_fieldset
      if params.title
        legend= params.title
      if params.groups.length
        each group in params.groups
          - group.prefix = params.prefix
          +form_group(group)
      != params.html
      block
      if params.buttons.length
        div(class=[`${params.prefix}-submit`])
          each button in params.buttons
            +button(button)
