mixin icon(params)
  - params = params || {}
  - params.prefix = params.prefix || (icon && icon.prefix) || 'icon'

  if params.name
    #{params.href ? 'a' : 'i'}(
      class=[params.prefix, {[`${params.prefix}-${params.name}`]: params.name}, params.cls]
      href=params.href
      aria-hidden="true"
    )&attributes(params.attributes, attributes)
      != params.html
      block
      = params.text
