mixin pagination(params)
  - params = params || {}
  - params.cls = params.cls || 'pagination'
  - params.active_cls = params.active_cls || 'active'
  - params.disabled_cls = params.disabled_cls || 'disabled'
  - params.page = params.page || 1
  - params.size = params.size || (pagination && pagination.size) || 20
  - params.max_button_count = params.max_button_count || (pagination && pagination.max_button_count) || 6
  - params.hide_on_single_page = params.hide_on_single_page === undefined && (checkbox && checkbox.hide_on_single_page) || params.hide_on_single_page
  - params.disable_active_page_button = params.disable_active_page_button === undefined && (checkbox && checkbox.disable_active_page_button) || params.disable_active_page_button
  - params.url = params.url || 'javascript:;'

  mixin render_page_button(label, page, cls, disabled, active)
    li(class=[cls, active && params.active_cls, disabled && params.disabled_cls])
      if page
        if active || disabled
          span= label
        else
          a(href=params.url.replace('${page}', page).replace('${size}', params.size))= label
      else
        em= label

  if params.totalCount
    - var pageCount = Math.ceil(params.totalCount / params.size)
    if !params.hide_on_single_page || pageCount > 1
      - var minPage = 1
      - var maxPage = pageCount
      ul(class=params.cls)&attributes(params.attributes, attributes)
        if params.first !== undefined
          +render_page_button(params.first, minPage, params.first_cls, params.page <= minPage)
        if params.prev !== undefined
          +render_page_button(params.prev, Math.max(params.page - 1, minPage), params.prev_cls, params.page <= minPage)
        - var beginPage = Math.max(minPage, Math.ceil(params.page - params.max_button_count / 2))
        - var endPage = beginPage + params.max_button_count - 1
        if endPage >= maxPage
          - endPage = maxPage
          - beginPage = Math.max(minPage, endPage - params.max_button_count + 1)
        if params.ellipsis && beginPage > 2
          +render_page_button(minPage, minPage, params.page_cls)
          +render_page_button(params.ellipsis, 0)
        - for(var currentPage = beginPage; currentPage <= endPage; currentPage++)
          +render_page_button(currentPage, currentPage, params.page_cls, params.disable_active_page_button && currentPage == params.page, currentPage == params.page)
        if params.ellipsis && endPage < maxPage - 1
          +render_page_button(params.ellipsis, 0)
          +render_page_button(maxPage, maxPage, params.page_cls)
        if params.next !== undefined
          +render_page_button(params.next, Math.min(+ params.page + 1, maxPage), params.next_cls, params.page >= maxPage)
        if params.last !== undefined
          +render_page_button(params.last, maxPage, params.last_cls, params.page >= maxPage)
